<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic Store Online</title>
    <link rel="stylesheet" href="../CSS/structure.css">
</head>

<body>
    <div class="container">
        <div class="p-header">
            <div class="navbar">
                <div class="logo">
                    <a href="../HTML/home.html"><img src="../IMG/sonic-icon.png" width="75px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="../HTML/about.html">About us</a></li>
                        <li><a href="../HTML/login.html">Account</a></li>
                    </ul>
                </nav>
                <div class="menuInteractuable">
                    <img src="../IMG/three-horizontal-lines-icon.png" class="menu-icon">
                </div>
            </div>
        </div>

        <div class="about-page">

            <div class="about-main">
                <img src="../IMG/perfil.jpg" alt="" width="70%">
            </div>
            <div class="about-main">
                <h1>About Us</h1>
                <h5>Computer Systems Enginner
                    <span>& Sonic Fan</span>
                </h5>
                <div class="about-text">
                    <p>
                        hi everyone!, my name is gabriel miguel cabrera samano and I study computer systems engineering for
                        ITM (Instituto tecnologio de Mexicali),
                        in this project I wanted to represent my love and admiration for one of the video game characters
                        that accompanied me throughout my childhood, Sonic the hedgehog, in an online store where new
                        people, or veterans of the franchise can purchase different collectible products.
                    </p>
                    <p>if you wish to contact me in different ways to verify an error on the page, either by an unwanted
                        transaction or a bug presented, you can consult one of the following social networks pressing the 
                        button "let's talk".
                        without more to add, enjoy our sonic collection!</p>
                </div>
                <a class="btn" href="https://www.facebook.com/miguel.cabrera.5249">Let's talk &#8594;</a>
            </div>
        </div>
    </div>

    <div class="footer-second">
        <div class="container">
            <h3>copyright 2024 - No Official Shop</h3>
            <p> Shop.SEGA.com is owned by SEGA of America, Inc. and operated by Araca Merchandise L.P.
                Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your
                purchase. © 2024 All Rights Reserved.

                ©SEGA. All rights reserved. SEGA is registered in the U.S. Patent and Trademark Office.
                SEGA, the SEGA logo and The SEGA Shop are either registered trademarks or trademarks of SEGA
                Holding Co., Ltd. or its affiliates.</p>
        </div>
    </div>

</body>
</html>