<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic Store Online</title>
    <link rel="stylesheet" href="../CSS/structure.css">
    </style>
</head>

<body>
    <div class="container">
        <div class="p-header">
            <div class="navbar">
                <div class="logo">
                    <a href="../HTML/home.html"><img src="../IMG/sonic-icon.png" width="75px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="../HTML/about.html">About us</a></li>
                    </ul>
                </nav>
                <div class="menuInteractuable">
                    <img src="../IMG/three-horizontal-lines-icon.png" class="menu-icon">
                </div>
            </div>
        </div>

        <div class="ticket">
            <h1 class="ticket__title">Ticket</h1>
            <div class="ticket-content" id="ticketContent">
                <!-- Ticket content will be inserted here dynamically -->
            </div>
            <div class="total-ticket" id="totalPrice">
                <!-- Total price will be inserted here dynamically -->
            </div>
            <a href="javascript:history.back()" class="back-btn">Back to Store</a>
        </div>

    </div>

    <div class="footer-second">
        <div class="container">
            <h3>copyright 2024 - No Official Shop</h3>
            <p> Shop.SEGA.com is owned by SEGA of America, Inc. and operated by Araca Merchandise L.P.
                Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your
                purchase. © 2024 All Rights Reserved.

                ©SEGA. All rights reserved. SEGA is registered in the U.S. Patent and Trademark Office.
                SEGA, the SEGA logo and The SEGA Shop are either registered trademarks or trademarks of SEGA
                Holding Co., Ltd. or its affiliates.</p>
        </div>

        <script src="../JS/scriptTicket.js"></script>
</body>

</html>